body {
  background: url(img/archa.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-size: 30px;
  font-family: 'Archivo Black', sans-serif;
}

#center-txt {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#center-links {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.intro-class {
  margin-top: 8%;
  padding-top: 50px;
}

.intro-txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3.5remS;
}

.intro-links {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 400px;
}

#intro1 {
  font-size: 7rem;
  font-family: 'Caveat', cursive;
  margin-top: 7%;
  text-shadow: 2px 2px #003DA5;
}


#intro3 {
  align-content: bottom;
  font-family: 'Caveat', cursive;
  font-size: 7rem;
  margin-bottom: 0;
  text-shadow: 2px 2px #003B5C;
}

.op0 {
  opacity: 0;
}

.intro-links {
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
}

#myLink1{
  color: #fff;
}

#myLink2{
  color: #fff;
}

#btn_index{
  outline: none;
  border: yellow;
}
