body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #183EFA;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    justify-content: center;
}

.sec-title {
    padding-bottom: 3%;
}

/*Section Classes*/

.blueb-bg {
    position: fixed;
    background-color: 
    #183EFA;
    color: #ffffff;
    margin: 2% 0%;
}


.blue-bg {
    background-color: #183EFA;
    color: #ffffff;
    margin: 2% 0%;
}

.white-bg {
    background-color: #f2f3f4;
    color: #183EFA;
    margin: 2% 0%;
}

/* .sec-title {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 2%;
} */

/*******Section Id's************/

/*Navbar Div */



.stlsymbol {
    height: 50px;
    width: 50px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}



/*About Section*/

#About{
    padding: 5%;
}

#about-title{
    padding-bottom:5%;
}

#about-pic{
    height: auto;
    width: auto; 
    max-width: 400px; 
    max-height: 500px;
    border-radius: 50%;
}

#about-sec {
    position: relative;
    margin: 3%;
}

.about-col{
    padding-bottom: 5%;
}

.about-icons {
    margin: 3%;
}


@media only screen and (max-width: 1100px) {
    #list {
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
    }
}

@media only screen and (min-width: 1101px) {
    #list {
        text-align: left;
        font-family: 'Josefin Sans', sans-serif;
    }
}

.a-list {
    background-color: white;
    justify-content: center;
}

#sec-web {
    position: relative;
}

#sec-features {
    background-color: yellow;
}

#about-p{
    font-size: 2rem;
}



/*Feature Section*/

#Features {
    padding: 5%;
}

#features-title{
    padding-bottom: 5%;
}

.f-col {
    height: 50%;
    width: 200px;
    margin-left: 2%;
    margin-right: 2%;
}

.f-icons {
    font-family: 'Josefin Sans', sans-serif;
    height: 80px;
    width: 80px;
}

.features-p {
    margin-bottom: 12%;
}




/*Projects Section*/

#Projects {
    padding: 5%
}

#projects-section{
    /* background-color: #00385C; */
  }
  
  .projectsH2{
    font-size: 2.5rem
  }
  
  .price-row{
    margin: 2%;
  }

  .projects-column{
      padding-bottom: 9%;
      text-align: center;
      width: 95%;
      
  }

.pimg{
    width: 50%;
}




/*Contact Section*/





